body {
    font-family: Arial, sans-serif;
    font-size: 15px !important;
    line-height: 1.6;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 576px) {
    body {
        font-size: 12px !important; 
    }
    .myname{
        font-size: 15px !important;
    }
    .myJobTitle{
        font-size: 11px !important;
    }
    .experienceTitle{
        font-size: 15px !important;
    }
    .experienceSubTitle{
        font-size: 11px !important;
    }
    .topRightExperienceInfo{
        font-size: 10px !important;
    }
    .AJlogo{
        width: 30px !important;
    }
}

.container{
    max-width: 84% !important;
}

section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sectionTitle{
    font-family: monospace;
}

header{
    background: rgb(235, 235, 235)
}

.nav-item{
    margin-left: 20px
}

.navbar-brand{
    font-family: monospace;
    font-weight: bold;
}

.facepicture {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #333; 
}

.myName{
    font-size: 18px;
    font-family: monospace;
}

.myJobTitle{
    font-size: 14px;
    font-family: monospace;
}

.socialButton {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #B92929;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    background: rgb(235, 235, 235);
    margin-right: 8px;
    margin-bottom: 8px;
}

.projectGithubButton{
    border: 0px;
    display: inline-flex;
    align-items: center;
    padding: 0px;
    text-decoration: none;
    color: #B92929;
    background: none ;
    margin-right: 0px;
    margin-bottom: 0px ;
}

.socialButton:hover {
    opacity: 0.8;
    .icon{
        transform: translateY(-2px);
        transition: 0.1s;
    }
}

.socialButton .icon {
    width: 19px;
    fill: currentColor; 
    margin-bottom: 3px;
}

.CVIcon{
    width: 14px !important;
}

.experienceDiv {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.experienceTitle{
    font-size: 18px !important;
}

.experienceSubTitle{
    font-size: 14px;
}

.AJlogo{
    width: 50px;
}

.projectDiv{
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.topRightExperienceInfo{
    top: 8px;
    right: 10px;
    font-size: 13px;
}

.project h3 {
    margin-top: 0;
}

footer {
    background: rgb(235, 235, 235);
    color: #000000;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.badge {
    color: black !important;
    border-radius: 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: rgb(230, 231, 235);
    font-family: monospace !important;
    
}

.badge:hover {
    opacity: 0.8;
    cursor: pointer;
}

.experienceDivLink {
    display: block; 
    color: inherit; 
    cursor: pointer;
}

.experienceDiv {
    padding: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-origin: top left; /* 👈 Shrinks towards the top-left */
}

.experienceDivLink:hover .experienceDiv {
    transition: background-color 0.3s ease; 
    transform: scale(0.97); 
}

.experienceDivLink:hover .badge {
    transform: scale(1.1); 
}

.experienceDivLink:hover .experienceDiv {
    transform: scale(0.97);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
    transform: scale(0.97) translate(-3px, -3px); 
}

.experienceDiv::after {
    content: '\f35d'; 
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.experienceDivLink:hover .experienceDiv::after {
    opacity: 1;
    transform: translateX(10px); 
}


   